".text.html.wepy":
  'Init page':
    'prefix': 'page'
    'body': """
    <script>
    import wepy from 'wepy';

    export default class Page$1 extends wepy.page {
      config = {};
      components = {};
      data = {};
      methods = {};
      events = {};
      onLoad() {};
      // Other properties
    }
    </script>

    <template lang="wxml">
      <view>
      </view>
    </template>

    <style lang="less">
    /** less **/
    </style>
    """